            /* Overall  */

            .overall{
                height: 2000px;
                width: 1465px;
                background:linear-gradient( to top,rgb(62, 62, 227),rgb(175, 169, 169)) ;
                border-radius: 10px;
            }

            /* NAVBAR  */

            nav{
                background: scroll;
                background-color: black;
                height: 80px;
                width: 1465px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                
                
                
                
            }
            .n1{
            
                color: aliceblue;
                font-size: 20px;
                text-decoration: none;
                margin-right: 20px;
                padding: 5px ;
                line-height: 70px;
                
            
            
            }
            .search{
                height: 25px;
                width: 29px;
                
                
            }
            .n1:hover{
                transition: 1s;
                border-radius: 10px;
                border-bottom: 5px solid white;
                font-size: 25px;
            
            }
            .nl{
                height: 60px;
                padding: 15px 10px;
            }
            
/* 2nd Navarbar */

.n2{
    height:25px ;
    width: 1465px;
    background-color: grey;   
}
.n2w{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-family: Impact 'Arial Narrow Bold';
    font-size: larger;
}
  
                      /* Dealers Network */

.dn{
    height: 200px;
    width: 1465px;
    background:linear-gradient( to bottom,rgb(12, 12, 164),rgb(40, 37, 37)) ;
    margin-top: -50px;
}
                    /* Dealer Locator */

.btn{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
    background-color: blue;
    font-size: 30px;
    color: white;
    border-color: blue;
    padding: 15px 40px;
   
}

                           /* Blue Square */

.bs{
    margin-top: 400px;
    
}

.btn1{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
    background-color: blue;
    font-size: 30px;
    color: white;
    border-color: blue;
    padding: 15px 40px;
    
     
}

                            /* Virtual Store */

.vs{
    margin-top: 400px;
}

.btn2{
    position: absolute;
    margin-left: 600px;
    margin-top: 200px;
    background-color: blue;
    font-size: 30px;
    color: white;
    border-color: blue;
    padding: 15px 40px;
    
     
}

/* FOOTER  */

.footer{
    height: 680px;
    width: 1465px;
    background-color: black;
    margin-top: 50px;
}
pre{
    
    color: white;
    font-size: 15px;
    margin-top: 50px;
}

                                          /* IMAGE  */

.img1{
   
    margin-left: 90px;

}


                                         /* Contents 01 */

.contents01{

    margin-left: 690px;
    margin-top: -500px;

       
}    

                                          /* Contents 02 */

.contents02{
    margin-top: -445px;
    margin-left: 900px;
}


                                          /* Contents 03 */

.contents03{
     margin-top: -425px;
     margin-left: 1100px;
}


                                          /* Contents 04 */

.contents04{
    margin-top: -395px;
    margin-left: 1260px;
}


                                          /* Contents 05*/

.contents05{
     margin-top: 100px;
     margin-left: 50px;
}

                                          /* Contents 06*/

.contents06{
margin-top: -100px;
margin-left: 250px;
}


                                          /* Contents Design  */

.topic{
    font-size: 25px;
    text-decoration: none;
    color: white;
    /* font-style:italic; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topic:hover{

    color: blue;
}

.content{
    color: gray;
    text-decoration: none;
}

.content:hover{
    color: rgb(255, 0, 0);
}


                  /* Social Media Icon */
                                           
.card {
width: fit-content;
height: fit-content;
/* background-color:rgb(2, 2, 2); */
display: flex;
align-items: center;
justify-content: center;
padding: 10px 10px;
gap: 40px;
margin-top: 30px;

                                            
}

                                          
                   /* for all social containers*/
.socialContainer {
width: 52px;
height: 52px;
border-radius: 50%;
background-color: rgb(44, 44, 44);
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
transition-duration: 1s;


}
/* instagram*/
.containerOne:hover {
background-color: #d62976;
transition-duration: 0.3s;
}
/* Youtube*/
.containerTwo:hover {
background-color: red;
transition-duration: 0.3s;
}
/* facebook*/
.containerThree:hover {
background-color: #0072b1;
transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
background-color: #128c7e;
transition-duration: 0.3s;
}

.socialContainer:active {
transform: scale(0.9);
transition-duration: 0.3s;
}

.socialSvg {
width: 17px;
}

.socialSvg path {
fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
0% {
transform: translateY(-50px);
opacity: 0;
}

100% {
transform: translateY(0);
opacity: 1;
}
}

.social{
margin-left: 55%;
margin-top: -122px;

}
  

                                          /* MARKQUEE */

.markquee {
 
 margin-top: 60px;
 height: 50px;
 width: 1465px;
 background:linear-gradient( to top,rgb(12, 12, 164),rgb(40, 37, 37)) ;
 display: flex; 

}
.pp{
    margin-left: 100px;
    font-size: 25px;
    margin-top: 10px;
    color: white;
    
    

}
.pp1{
    margin-left: 100px;
    font-size: 25px;
    margin-top: 10px;
    color: white;
}

